services:
  db:
    image: postgres:16-alpine
    
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: on-failure

  backend:
    build: ./backend
    env_file:
      - .env
    
    depends_on:
      - db
    restart: on-failure
    
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    depends_on:
      - backend
    restart: on-failure
    ports:
      - "8282:80"

volumes:
  pgdata:
